<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header class="Encabezado">
        <table class="TablaEncabezado SinBordesDobles">
            <tr>
                <td class="ColumnaEncabezado1">
                    <img class="LogoEmpresa" src="{{LogoImagenBase64}}">
                </td>
                <td class="ColumnaEncabezado2">
                    <h3 class="Titulo">ÓRDEN DE SERVICIO</h3>
                </td>
                <td class="ColumnaEncabezado3 SinBordeInferior">
                    <div class="ContenedorTextoColumnaEncabezado3">
                        <span class="TextospanContenedorTextoColumnaEncabezado3">Código: GTH-F-10</span>
                    </div>
                    <div class="ContenedorTextoColumnaEncabezado3">
                        <span class="TextospanContenedorTextoColumnaEncabezado3">Versión: 01</span>
                    </div>
                    <div class="ContenedorTextoColumnaEncabezado3 SinBordeInferior">
                        <span class="TextospanContenedorTextoColumnaEncabezado3">Vigencia: Marzo 2025</span>
                    </div>
                </td>
            </tr>
        </table>
    </header>
    <main>
        
    </main>
    <footer class="PieDePagina">
        <div class="FooterItem">
            <img src="{{IconoWhatsApp}}" alt="WhatsApp" class="IconoFooter" />
            <span>3016184573 - 3228376688</span>
        </div>
        <div class="FooterItem">
            <img src="{{IconoDireccion}}" alt="Dirección" class="IconoFooter" />
            <span>Calle 56 # 33 - 96 Parque de Boston - Medellín</span>
        </div>
        <div class="FooterItem">
            <img src="{{IconoEmail}}" alt="Correo" class="IconoFooter" />
            <span>tecniserviciossas2024@gmail.com</span>
        </div>
    </footer>
</body>

</html>