html {
    font-size: 14px;
    /* tamaño base */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* padding-bottom: 300px !important; */
    /* Espacio para el footer */
}

/* POLÍTICAS - ÚLTIMA PÁGINA */
.PoliticasDeLaEmpresa {
    page-break-before: always;
    margin-top: 1.5cm;
    /* padding: 1.5cm 1.5cm 4cm; */
    padding-right: 20px;
    /* Más espacio abajo para el footer */
    box-sizing: border-box;

    /* Evita que el contenido se divida */
    page-break-inside: avoid;
    break-inside: avoid-page;

    /* Ajuste para contenido dinámico */
    display: flow-root;

    /* text-align: center; */

    width: 100%;
}

.TituloPoliticasDeEmpresa {
    text-align: center;
    justify-content: center;
}

.Politicas {
    width: 100%;
    font-size: 15px;
}

.Politicas li {
    text-align: justify !important;
    line-height: 1.6;
}

/* Estilos para la marca de agua en todas las páginas */
@page {
    size: letter;
    /* margin: 1.5cm; */

    /* Márgenes personalizados si es necesario */
    @top-left {
        content: "";
    }

    @bottom-right {
        content: "";
    }
}

/* Marca de agua fija en todas las páginas */
.marca-de-agua {
    width: 70%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* opacity: 0.2; */
    z-index: -1;
    pointer-events: none;
}

.marca-de-agua img {
    width: 100%;
    height: auto;
    opacity: 0.2;
}

/* Contenedor principal para el contenido */
.contenido-principal {
    position: relative;
    z-index: 1;
}

/* Estilo específico para la página de políticas */
.pagina-politicas {
    page-break-before: always;
    padding-top: 2cm;
}


/* ESTILOS PARA EL ENCABEZADO DEL PDF */
.Entabezado {
    width: 100%;
}

.ColumnaEncabezado1 {
    width: 33%;
    align-items: center;
    text-align: center;
}

.ColumnaEncabezado2 {
    width: 33%;
    text-align: center;
}

.ColumnaEncabezado3 {
    width: 33%;
    height: 100%;
    padding: 0;
    vertical-align: top;
}

.LogoEmpresa {
    width: 150px;
    height: auto;
    margin: 0;
}

.TablaEncabezado {
    width: 100%;
    height: 90px;
    border-collapse: collapse;
    table-layout: fixed;
    /* ← fuerza que los widths se respeten */
}



.ContenedorTextoColumnaEncabezado3 {
    border-bottom: 1px solid #000000;
    margin: 0;
    /* padding: 0; */
    height: 30px;
}

.ContenedorTextoColumnaEncabezado3:last-child {
    border-bottom: none;
}

.TextoLabelContenedorTextoColumnaEncabezado3 {
    width: 100%;
    margin-left: 10px;
}



.Titulo {
    margin: 0 auto;
}

.TablaEncabezado {
    border: 1px solid #000000;
    /* padding: 8px; */
    text-align: left;
}

.ColumnaEncabezado1,
.ColumnaEncabezado2,
.ColumnaEncabezado3 {
    border: 1px solid #000000;
}

.ContenedorTextoColumnaEncabezado3 {
    padding-left: 4px;
}

/* ... */



.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}


/* th,
td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
} */


/* ESTILOS PARA TABLA QUE CONTIENE INFORMACIÓN DE LA EMPRESA */
.BordesNegros1px {
    border: 1px solid #000000;
}

.TablaInfoEmpresa,
.NombreEmpresa {
    border: 1px solid #000000;
}

.NombreEmpresa {
    margin: 0 auto;
    text-align: center;
    height: 15px;
    /* border: solid green; */
    padding: 0;
}

.TextoNombreEmpresa {
    font-size: 16px;
}

.TextoMisionEmpresa {
    font-weight: lighter;
}

.TextoNITEmpresa {
    font-weight: lighter;
}

.MisionEmpresa {
    text-align: center;
}

.TextoRemision {
    margin-left: 50px;
    font-weight: bold;
}

.NumeroRemision {
    /* text-decoration: underline;  */
    color: red;
    margin-left: 10px;
    font-weight: bold;
    font-size: 15px;
}

/* ... */

/* ESTILOS PARA LA INFORMACIÓN DEL CLIENTE/USUARIO ADQUIRIENTE */
.TablaFecha {
    width: 100%;
    margin-top: 0px;
    border-top: none;
    border-bottom: none;
}

.FechaRemisionTexto {
    border-top: none;
    border-bottom: none;
    width: 12%;
    padding-left: 4px;
}

.FechaRemisionValor {
    border-top: none;
    width: 88%;
    padding-left: 4px;
}

.TablaCliente {
    width: 100%;
    margin-top: 0px;
    border-top: none;

}

.TablaClienteItem1 {
    /* border-top: none; */
    padding-left: 4px;
    width: 12%;
}

.TablaClienteValor1 {
    /* border-top: none; */
    padding-left: 4px;
    width: 40%;
}

.TablaClienteItem2 {
    /* border-top: none; */
    padding-left: 4px;
    width: 12%;
}

.TablaClienteValor2 {
    /* border-top: none; */
    padding-left: 4px;
    width: 36%;
}

.TableInfoItems {
    width: 100%;
}

.TablaInfoItems,
th,
td {
    padding-left: 4px;
}

.ColumnaCantidadItem {
    width: 12%;
}

.ColumnaNombreItem {
    width: 42%;
}

.ColumnaObservacionItem {
    width: 46%;
}

.TablaFirmas {
    width: 100%;
}

.TextoDescripcion {
    text-align: justify;
}

/* .Bodeguero {
    border: solid 1px #000000;
    width: 30%;
    height: 30px;
}

.Despachador {
    border: solid 1px #000000;
    width: 30%;
    height: 30px;
}

.Transportador {
    border: solid 1px #000000;
    width: 30%;
    height: 30px;
}

.Vehiculo {
    border: solid 1px #000000;
    width: 30%;
    height: 30px;
}

.Recibe {
    border: solid 1px #000000;
    width: 30%;
    height: 30px;
} */

.ContenedorFirma {
    border-bottom: solid 1px #000000;
    width: 60%;
    height: 30px;
    position: relative;
}

.ContenedorFirma span {
    position: absolute;
    bottom: 0;
    left: 0;
}

.CeldaContenedorFirma {
    border: none;
}

/* ... */

/* ESTILOS PARA EL FOOTER DE LA REMISIÓN */
/* .PieDePagina {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    font-size: 14px;
    z-index: 100;
    box-sizing: border-box;
} */

.PieDePagina {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    font-size: 14px;
    /* z-index: 1000;  */
    box-sizing: border-box;
    /* Nuevas propiedades clave: */
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1); /* Sombra para efecto de elevación */
    pointer-events: none; /* Permite clicks a través del footer */
}





.FooterItem {
    display: flex;
    align-items: center;
    gap: 8px;
}

.IconoFooter {
    /* width: 16px;
    height: 16px; */
    width: 26px;
    height: 26px;
}

/* ... */

/* CLASES GENERALES */
.SinBordesDobles {
    border-collapse: collapse;
}

.SinBordeInferior {
    border-bottom: none;
}

.TextoJustificado {
    text-align: justify;
}

.BordesNegros1Pixel {
    border: solid #000000 1px;
}

/* ... */